/*
Umbra Design System 1.0.

Provided by the Swiftly Team.

See https://revo.stuxiom.com for more info
*/

/*Variables*/
  :root {
    /*Umbra variables*/
    --umbra-acento: #006496;
    --umbra-acento-hover: #1E82BA;
    
    --umbra-container-a: #151515;
    --umbra-container-a-hover: #333333;
    --umbra-container-b: #252525;
    --umbra-container-b-hover: #434343;
    --umbra-factor: #333;
    --umbra-factor-hover: #515151;
    --umbra-extra: #204060;
    --umbra-extra-hover: #3E5E7E;

    --umbra-destructive: #C81414;
    --umbra-destructive-hover: #E63232;
    --umbra-exito: #1E966E;
    --umbra-exito-hover: #3CB48C;
    --umbra-acento-sobrante: #0A325A;
    --umbra-acento-sobrante-hover: #285078;

    --umbra-anim-tranquila: all 600ms cubic-bezier(0.6, 0, 0, 1);
    --umbra-anim-rapidin: all 500ms cubic-bezier(0.79, 0.14, 0.15, 0.86);

    --umbra-curva-mecanica: 5px 20px 5px 20px;
    --umbra-curva-mecanica-small: 0px 10px 0px 10px;

    /*Configuración Umbra*/
    font-family: 'Montserrat', sans-serif;
    color: #FFF;
  }

  body{
    background-color: var(--umbra-container-a);
    margin-top: 60px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }

  button{
    font-family: 'Montserrat', sans-serif;
  }

  code{
    font-family: 'Ubuntu Mono', monospace;
  }
  
  .container-1{
    background-color: var(--umbra-container-a);
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    overflow: hidden;
  }

  header{
    height: 40px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    margin-bottom: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
  }
  
  .nav{
    background-color: var(--umbra-container-b);
    border-radius: 5px 20px 5px 20px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: left;
  }

  .nav-item{
    padding: 1em;
    margin-right: 10px;
    border-radius: 5px 20px 5px 20px;
    background-color: var(--umbra-factor);
    transition: var(--umbra-anim-tranquila);
  }

  .nav-item:hover{
    background-color: var(--umbra-factor-hover);
  }

  .nav-item a{
    text-decoration: none;
    color: #FFF;
  }

  .nav-item.active{
    background-color: var(--umbra-extra);
    transition: var(--umbra-anim-tranquila);
  }

  .nav-item.active:hover{
    background-color: var(--umbra-extra-hover);
  }

  .button-primary{
    border-radius: var(--umbra-curva-mecanica-small);
    border: none;
    background-color: var(--umbra-acento);
    font-weight: 700;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 1em;
    color: #FFF;
    width: 250px;
    height: 50px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    transition: var(--umbra-anim-rapidin);
  }

  .button-primary a{
    text-decoration: none;
  }

  .button-primary:hover{
    cursor: pointer;
    background-color: var(--umbra-acento-hover);
  }

  .button-extra{
    border-radius: var(--umbra-curva-mecanica-small);
    border: none;
    background-color: var(--umbra-extra);
    font-weight: 700;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 1em;
    color: #FFF;
    width: 250px;
    height: 50px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    transition: var(--umbra-anim-rapidin);
  }

  .button-extra a{
    text-decoration: none;
  }

  .button-extra:hover{
    cursor: pointer;
    background-color: var(--umbra-extra-hover);
  }

  .button-destructive{
    border-radius: var(--umbra-curva-mecanica-small);
    border: none;
    background-color: var(--umbra-destructive);
    font-weight: 700;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 1em;
    color: #FFF;
    width: 250px;
    height: 50px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    transition: var(--umbra-anim-rapidin);
  }

  .button-destructive a{
    text-decoration: none;
  }

  .button-destructive:hover{
    cursor: pointer;
    background-color: var(--umbra-destructive-hover);
  }

  .button-primary-special{
    border-radius: var(--umbra-curva-mecanica-small);
    border: none;
    background-color: var(--umbra-acento);
    font-weight: 700;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 1em;
    color: #FFF;
    width: 250px;
    height: 50px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    box-shadow: 0px 0px 10px 2px var(--umbra-acento);
    transition: var(--umbra-anim-rapidin);
  }

  .button-primary-special:hover{
    cursor: pointer;
    background-color: var(--umbra-acento-hover);
    box-shadow: 0px 0px 15px 4px var(--umbra-acento-hover);
  }
  
  .content1-div{
    display: flex;
    flex-direction: column;
    padding: 1em;
    align-items: center;
    justify-content: center;
    background-color: var(--umbra-container-b);
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: var(--umbra-curva-mecanica);
  }

  .content1-div-item{
    background-color: var(--umbra-container-a);
    margin-top: 10px;
    margin-bottom: 10px;
    width: 350px;
    height: 300px;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: var(--umbra-curva-mecanica);
    transition: var(--umbra-anim-rapidin);
  }

  .content1-div-item-special{
    background-color: var(--umbra-container-a);
    margin-top: 10px;
    margin-bottom: 10px;
    width: 350px;
    height: 300px;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: var(--umbra-curva-mecanica);
    transition: var(--umbra-anim-rapidin);
    box-shadow: 0px 0px 10px 2px var(--umbra-acento);
  }

  .content1-div-item img,
  .content1-div-item-special img{
    width: 48px;
    height: 48px;
  }

  .content1-div-item:hover{
    background-color: var(--umbra-container-a-hover);
  }

  .content1-div-item-special:hover{
    background-color: var(--umbra-container-a-hover);
    box-shadow: 0px 0px 15px 4px var(--umbra-acento-hover);
  }

  .popup1 .popup1-content{
    position: absolute;
    top: 50%;
    left: 50%;
    background: #000;
    width: 500px;
    height: 300px;
    z-index: 2;
    text-align: center;
    padding: 1em;
    box-sizing: border-box;
  }

  .popup1.active .overlay{
    display: block;
  }

  .popup1.active .popup1-content{
    transition: var(--umbra-anim-rapidin);
    transform: translate(-50%, -50%) scale(1);
  }

  .button-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .button-div button{
    margin-right: 20px;
  }

  footer{
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: var(--umbra-curva-mecanica);
    background-color: var(--umbra-container-b);
    height: 40px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .footer-card{
    width: 200px;
    height: 40px;
    border-radius: var(--umbra-curva-mecanica);
    background-color: var(--umbra-acento);
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .footer-card p{
    font-size: 16px;
    font-weight: 700;
  }